body{
    margin: 0;
    font-family: font-family: 'Flamenco', cursive;
    background-color: #f5ebdc;
}
nav{
    background-color: #f5ebdc;
    display: flex;
}
.header-logo{
    padding-top: 10px;
    margin-left: 70px;
    width: 50px;
    padding-bottom: 10px;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-a{
    margin-left: 15px;
    color:#502315;
    font-weight: bold;
    padding: 10px 8px 10px 8px;
}
.nav-a:hover{
    padding: 10px 8px 10px 8px;
    color: orangered;
    border-radius: 15px;
    background-color: #c3bbaf30;
    border-style: none;
    
}
.nav-a:active{
    color: white;
    background-color: red;
}
a:link{
    text-decoration: none;
}
form{
    color: #502315;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.form-bar{
    outline: none;
    border-radius: 7px;
    display: block;
    background-color: white;
    height: 15px;
    margin-top: 9px;
    width: 250px;
    padding-left: 18px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-bar::placeholder{
    color: #502315;
    font-size: 16px;
    font-weight: bold;
}
.form-h3{
    font-size: 30px;
}
input[type="file" ]{
    display: none;

}
label{
    color:#502315;
    margin-top: 20px;;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.:hover{
    background-color: lightcyan;
}
.form-p{
    font-weight: bold;
}
.button-container{
    display: flex;
    justify-content: center;
}
.form-button{
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 200px;
    padding-right: 200px;
}
.form-button:hover{
    opacity: 0.7;

}
footer{
    background-color: #502315;
}
.footer-structure{
    display: flex;
    margin-top: 40px;
    padding-top: 34px;
}
.footer-logo{
    margin-left: 70px;
    width: 200px;
    margin-bottom: 120px;;
}
.footer-info{
    margin-left: 250px;
}
.footer-h3{
    color:white;
    margin-left: 97px;
    font-size: 22px;

}
ul li{
    
    list-style: none;
    margin-bottom: 12px;
    margin-left: 60px;
}

ul li a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
hr{
    width: 1160px;
    margin-bottom: 10px;
    
}
.copyright-section{
    display: flex;
    justify-content: space-between;
}
.copyright-text{
    color: white;
    font-size: 12px; 
    margin-left: 70px;
}
.footer-icon{
    margin-right: 112px;
}
.footer-ul{
    display: flex;
}
.footer-li{
    margin-right: -32px;
}